* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", serif;
}

header{
    background-image: url(https://images.pexels.com/photos/5739119/pexels-photo-5739119.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    padding: 1rem 3rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.items{
    display: flex;
    justify-content: space-between;
    width: 20% 
}

.item{
    text-decoration: none;
    color: white;
}

.item:hover{
    color: #ffff00;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 0;
    width: 460px;
    /* min-width: 736px; */
}

.hero-tagline{
    font-weight: 400;
}

.hero-title{
    font-size: 50px;
    font-weight: 300;
}

.hero-description{
    font-size: 15px;
    font-weight: 300;
}

.btn{
    position: relative;
    border: none;
    border-radius: 25px;
    color: black;
    background-color: yellow;
    width: 200px;
    padding: 1rem;
    cursor: pointer;
}

.btn::after{
    content: '\2192';
    position: absolute;
    bottom: 16px;
    right: 40px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: #fbf0ec;
    padding: 3rem 0;
    width: 100%;
}

.card{
    width: 320px;
    height: 280px;
    background-color: white;
    border-radius: 25px;
    padding: 2rem 1rem;
}

.card-title{
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 1rem;
    width: 300px;
}

.expirience-tagline{
    font-weight: 400;
}

.expirience{
    padding: 3rem;
}

.expirience-tagline{
    padding-bottom: 1rem 0;
}

.expirience-title{
    font-size: 50px;
    font-weight: 700;
    padding: 1rem 0;
}

.expirience-img-container{
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.img-card{
    width: 320px;
    height: 280px;
    transform: rotate(346deg);
    transform-origin: center center opx;
    margin: 0 2rem;
}


.img-card img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;

}